%h2 Manage Feeds
%ul.feeds
  - @feeds.each do |feed|
    %li{:id => "feed-#{feed.id}", :class => 'feed'}
      %form{:action => "/admin/feeds/#{feed.id}", :method => 'post', :class => 'action'}
        %input{:type => 'hidden', :name => '_method', :value => 'delete'}
        %input{:type => 'submit', :value => 'X', :onclick => "return confirm('Are you sure? This will delete the feed and all its entries')"}
      %form{:action => "/admin/feeds/#{feed.id}/update", :method => 'post', :class => 'action'}
        %input{:type => 'submit', :value => 'Update'}
      %a{:href => feed.url, :target => '_blank'}= feed.title
      == - #{feed.entries.length} entries
      - if feed.approved?
        (this feed is approved)
      - else
        (not yet approved,
        %form{:action => "/admin/feeds/#{feed.id}/approve", :method => 'post', :class => 'action'}
          %input{:type => 'submit', :value => 'approve now'}
        )
%form{:action => '/admin/feeds', :method => 'post'}
  %input{:type => 'text', :name => 'url'}
  %input{:type => 'submit', :value => 'Add New Feed'}
.note NOTE: Entries are updated periodically using the supplied Rake task
