!!!
%html{html_attrs}
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/stylesheets/application.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/feed', :rel => 'alternate', :type => 'application/atom+xml', :title => "#{SiteConfig.title} feed"}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= @title || SiteConfig.title
      #sidebar
        - if SiteConfig.search
          %h2 Search
          %form{:action => '/search', :method => 'post'}
            %input{:type => 'text', :id => 'search', :name => 'q'}
        %h2 Feeds
        %ul.feeds
          - Feed.all.each do |feed|
            %li.feed
              %a{:href => feed.url}= feed.title
        %h2 Subscribe
        %a{:href => '/feed'} Atom Feed
      #content= yield
      .clear
      #footer
        %p#legal
          &mdash; Powered by 
          %a{:href => 'http://github.com/zapnap/mogo'} Mogo
          | All content copyright its respective authors &mdash;
